<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@Description"/>
    <meta name="author" content="@Properties["project-author"]"/>

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet"/>

    <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
    <script type="text/javascript" src="@Root/content/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://prolucid.ca">prolucid.ca</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">F# backend<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://prolucid.github.io/FsCassy/" class="external">FsCassy for Apache Cassandra</a></li>
              <li><a href="https://prolucid.github.io/FsShelter/" class="external">FsShelter for Apache Storm</a></li>
              <li><a href="https://github.com/Prolucid/protoshell/" class="external">Protobuf multilang for Apache Storm</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Frontend with Fable<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="http://fable-elmish.github.io/elmish/" class="external">Elm-like architecure</a></li>
              <li><a href="https://github.com/Prolucid/fable-aether/" class="external">Optics</a></li>
              <li><a href="https://github.com/Prolucid/fable-mqtt/" class="external">Mqtt</a></li>
              <li><a href="https://github.com/Prolucid/fable-import-signalr/" class="external">SignalR</a></li>
              <li><a href="https://github.com/Prolucid/fable-import-ws/" class="external">Websockets</a></li>
              <li><a href="https://github.com/Prolucid/fable-react-toolbox/" class="external">React toolbox</a></li>
              <li><a href="https://github.com/Prolucid/fable-import-momentjs/" class="external">Date and Time</a></li>
              <li><a href="https://github.com/Prolucid/fable-react-grid-system" class="external">Responsive Grid</a></li>
            </ul>
          </li>
          <li><a href="/#support">Training &amp; support</a></li>
        </ul>
        <h3 class="muted"><a href="@Root/index.html">@Properties["project-name"]</a></h3>
      </div>
      <hr />
      <div class="row" style="background-image: '@Root/img/top.jpg'">
        <div class="span9" id="main">
          @RenderBody()
        </div>
      </div>
    </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Support</h4>
          <p>
            Please use github issues in the respective project repositories if you have a problem.
            If you need commercial support or training for any of the tech listed here,
            you can get in touch with <a href="http://prolucid.ca">Prolucid</a>.
          </p>
        </div>
        <div class="col-md-4">
          <h4>About the F# language</h4>
          <p>
            This site is built using the F# language, but
            it is not affiliated with F# Software Foundation.
          </p>
          <ul>
            <li>Visit <a href="http://fsharp.org">F# web site</a> for more info</li>
            <li><a href="http://foundation.fsharp.org">Join and help</a> the foundation</li>
          </ul>
          <ul>
            <li>Report site issues on <a href="http://github.com/Prolucid/prolucid.github.io">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
  </html>
